@model IEnumerable<Lib.Models.Book>
@{
    ViewBag.Title = "Все смартфоны";
}
<a asp-action="Create">Добавить модель</a>
<table class="table">
    <tr><td>Модель</td><td>Производитель</td><td>Цена</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.NameBook</td></tr>
    }
</table>