@model IEnumerable<Lib.Models.Library>
@{
    ViewBag.Title = "Все книги";
}
<a asp-action="Create">Добавить книгу</a>
<table class="table">
    <tr><td>Книга</td><td>Автор</td></tr>
    @foreach (Library item in Model)
    {
        <tr><td>@item.BookId</td><td>@item.Book?.NameBook</td><td>@item.Author?.NameAuthor</td></tr>
    }
</table>